<article
  class="w-full max-w-[800px] mx-auto prose prose-code:before:content-none prose-code:after:content-none"
  ...attributes
>
  <h1>{{@title}}</h1>
  <p class="text-lg">{{@description}}</p>

  {{#if @demoSrc}}
    <div class="relative rounded-lg overflow-hidden bg-gray-200">
      <div class="w-full h-[356px]">
        <iframe src={{@demoSrc}} title={{@title}} class="h-full w-full"></iframe>
      </div>
    </div>
  {{/if}}

  {{yield}}
</article>
