<article class="w-full max-w-[800px] mx-auto lg:mx-0 prose" ...attributes>
  <h1>{{@title}}</h1>
  <p class="text-lg">{{@description}}</p>

  <div class="relative rounded-lg overflow-hidden">
    <div class="w-full h-[356px]">
      <iframe src={{@demoSrc}} title={{@title}} class="h-full w-full" />
    </div>
  </div>

  <h2>Installation</h2>

  <p>To get started, install ember-primitiveui by:</p>
  <pre><code>ember install ember-primitiveui</code></pre>

  {{yield}}
</article>
