{{page-title "Dialog"}}

<div class="flex items-center justify-center py-8">
  <button
    type="button"
    {{on "click" this.open}}
    class="inline-flex justify-center rounded border shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm active:bg-white"
  >
    Open dialog
  </button>
</div>

<Dialog @open={{this.isOpen}} @onClose={{this.close}} class="relative z-10" as |dialog|>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed z-10 inset-0">
    <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
      <dialog.Panel
        class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full"
      >
        <div class="flex flex-col justify-center items-center p-4">
          <div class="mt-3 text-center">
            <dialog.Title class="text-xl font-semibold">Payment successful</dialog.Title>
            <dialog.Description class="text-gray-500 text-sm mt-2">
              Your plan has been updated with the latest and greatest features. Try it out!
            </dialog.Description>
          </div>

          <div class="mt-4 w-full">
            <button
              type="button"
              {{on "click" this.close}}
              class="block w-full py-2 px-4 text-base border border-transparent shadow-sm rounded bg-indigo-600 text-white font-medium hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 active:bg-indigo-600 sm:text-sm"
            >
              Visit dashboard
            </button>
          </div>
        </div>
      </dialog.Panel>
    </div>
  </div>
</Dialog>