<ExampleContainer>
  <Tab class="max-w-lg w-full p-3" as |tab|>
    <tab.List class="flex items-center bg-gray-300 rounded p-1">
      <tab.Item @controls="panel-1" class="rounded flex items-center w-full justify-center leading-6 truncate focus:outline-none focus:ring-2 ring-offset-2 ring-offset-gray-300 focus:ring-indigo" as |item|>
        <span class="w-full py-2 px-3 rounded truncate {{if item.isSelected "bg-indigo-600 text-white" "text-gray-600"}}">
          Total subscribers
        </span>
      </tab.Item>

      <tab.Item @controls="panel-2" class="rounded flex items-center w-full justify-center leading-6 truncate focus:outline-none focus:ring-2 ring-offset-2 ring-offset-gray-300 focus:ring-indigo" as |item|>
        <span class="w-full py-2 px-3 rounded truncate {{if item.isSelected "bg-indigo-600 text-white" "text-gray-600"}}">
          Avg. open rate
        </span>
      </tab.Item>

      <tab.Item @controls="panel-3" class="rounded flex items-center w-full justify-center leading-6 truncate focus:outline-none focus:ring-2 ring-offset-2 ring-offset-gray-300 focus:ring-indigo" as |item|>
        <span class="w-full py-2 px-3 rounded truncate {{if item.isSelected "bg-indigo-600 text-white" "text-gray-600"}}">
          Avg. click rate
        </span>
      </tab.Item>
    </tab.List>

    <div class="mt-2 bg-white shadow rounded">
      <tab.Panel @id="panel-1" class="rounded p-4 focus:outline-none focus:ring-2 ring-offset-2 ring-offset-gray-200">
        <div class="space-x-3 flex items-center">
          <div class="flex-shrink-0 p-2.5 rounded bg-indigo-100">
            {{svg-jar "group" class="w-6 h-6 text-indigo-600" fill="currentColor"}}
          </div>

          <div class="flex-1">
            <span class="text-sm text-gray-600">Total Subscribers</span>
            <p class="text-xl font-bold">71,897</p>
          </div>
        </div>
      </tab.Panel>

      <tab.Panel @id="panel-2" class="rounded p-4 focus:outline-none focus:ring-2 ring-offset-2 ring-offset-gray-200">
        <div class="space-x-3 flex items-center">
          <div class="flex-shrink-0 p-2.5 rounded bg-indigo-100">
            {{svg-jar "mail-open" class="w-6 h-6 text-indigo-600" fill="currentColor"}}
          </div>

          <div class="flex-1">
            <span class="text-sm text-gray-600">Avg. Open Rate</span>
            <p class="text-xl font-bold">45.16%</p>
          </div>
        </div>
      </tab.Panel>

      <tab.Panel @id="panel-3" class="rounded p-4 focus:outline-none focus:ring-2 ring-offset-2 ring-offset-gray-200">
        <div class="space-x-3 flex items-center">
          <div class="flex-shrink-0 p-2.5 rounded bg-indigo-100">
            {{svg-jar "pointer" class="w-6 h-6 text-indigo-600" fill="currentColor"}}
          </div>

          <div class="flex-1">
            <span class="text-sm text-gray-600">Avg. Click Rate</span>
            <p class="text-xl font-bold">28.33%</p>
          </div>
        </div>
      </tab.Panel>
    </div>
  </Tab>
</ExampleContainer>
