<Menu class="menu" as |menu|>
  <menu.Button class="menu-btn" data-button>
    Options
  </menu.Button>

  <menu.List class="menu-list" {{velcro "[data-button]" offsetOptions=(hash mainAxis=4)}}>
    <menu.Item type="button" class="menu-item" as |item|>
      <span class="menu-item-text {{if item.active 'active'}}">
        Account settings
      </span>
    </menu.Item>

    <menu.Item type="button" class="menu-item" as |item|>
      <span class="menu-item-text {{if item.active 'active'}}">
        Support
      </span>
    </menu.Item>

    <menu.Item type="button" class="menu-item" @disabled={{true}} as |item|>
      <span class="menu-item-text {{if item.active 'active'}}">
        Disabled item
      </span>
    </menu.Item>

    <menu.Item type="button" class="menu-item" as |item|>
      <span class="menu-item-text {{if item.active 'active'}}">
        License
      </span>
    </menu.Item>
  </menu.List>
</Menu>
